.password-card {
  position: relative;
  width: fit-content;
}

.toggle-text {
  position: absolute;
  right: 2%;
  top: 42%;

  font-size: 60%;
  color: #fff;
  font-family: Poppins;
  font-weight: 300;
  letter-spacing: 0.2rem;

  cursor: pointer;
  transition: all 500ms ease;
}

.toggle-text:hover {
  scale: 0.8;
}
